/* css/sidebar.css */
.geoportal-sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.geoportal-sidebar .card-header {
    background-color: #C68A2C;
    color: #fff;
    font-weight: 700;
    padding: 12px 15px;
    font-size: 0.95rem;
}

.layer-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #f0f0f0;
    background: white;
}

.drag-handle { cursor: grab; margin-right: 12px; color: #ced4da; font-size: 14px; }

/* Estilos para los Switches de Capas */
.form-check-input:checked {
    background-color: #C68A2C;
    border-color: #C68A2C;
}