<header class="geoportal-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white w-100 shadow-sm" style="border-bottom: 2px solid #C68A2C;">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#" style="color: #C68A2C; font-weight: bold;">
                <img src="assets/ayuntamiento-logo-color-web.png" alt="Logo Ayuntamiento" style="height: 35px; margin-right: 10px;">
                <span>Visor de Obra Pública</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex align-items-center ms-auto">
                    <a class="navbar-brand" href="#">
                        <img src="assets/logo_iciplam.png" alt="Logo ICIPLAM" style="height: 35px;" class="me-2">
                    </a>
                    <a class="navbar-brand" href="#">
                        <img src="assets/4.png" alt="Logo 4" style="height: 35px;" class="me-3">
                    </a>
                    <a class="navbar-brand" href="#">
                        <img src="assets/logo_sigetux.png" alt="Logo 4" style="height: 35px;" class="me-3">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>